testClient/Connected Services/ServiceReference1/ScanServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScanServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal" />
      <xsd:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal.K3Modal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScanServer_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IScanServer_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IScanServer_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IScanServer_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanIn_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanIn" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanInResponse" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanOut_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanOut" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanOutResponse" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanInWCE_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanInWCE" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanInWCE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanInWCEResponse" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanOutWCE_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanOutWCE" />
  </wsdl:message>
  <wsdl:message name="IScanServer_ScanOutWCE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanOutWCEResponse" />
  </wsdl:message>
  <wsdl:message name="IScanServer_GetSaleBillInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleBillInfo" />
  </wsdl:message>
  <wsdl:message name="IScanServer_GetSaleBillInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleBillInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IScanServer">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/DoWork" message="tns:IScanServer_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/DoWorkResponse" message="tns:IScanServer_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/GetCount" message="tns:IScanServer_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/GetCountResponse" message="tns:IScanServer_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/ScanIn" message="tns:IScanServer_ScanIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/ScanInResponse" message="tns:IScanServer_ScanIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/ScanOut" message="tns:IScanServer_ScanOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/ScanOutResponse" message="tns:IScanServer_ScanOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanInWCE">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/ScanInWCE" message="tns:IScanServer_ScanInWCE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/ScanInWCEResponse" message="tns:IScanServer_ScanInWCE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanOutWCE">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/ScanOutWCE" message="tns:IScanServer_ScanOutWCE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/ScanOutWCEResponse" message="tns:IScanServer_ScanOutWCE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleBillInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanServer/GetSaleBillInfo" message="tns:IScanServer_GetSaleBillInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanServer/GetSaleBillInfoResponse" message="tns:IScanServer_GetSaleBillInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScanServer" type="tns:IScanServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IScanServer/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IScanServer/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanIn">
      <soap:operation soapAction="http://tempuri.org/IScanServer/ScanIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanOut">
      <soap:operation soapAction="http://tempuri.org/IScanServer/ScanOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanInWCE">
      <soap:operation soapAction="http://tempuri.org/IScanServer/ScanInWCE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanOutWCE">
      <soap:operation soapAction="http://tempuri.org/IScanServer/ScanOutWCE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleBillInfo">
      <soap:operation soapAction="http://tempuri.org/IScanServer/GetSaleBillInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScanServer">
    <wsdl:port name="BasicHttpBinding_IScanServer" binding="tns:BasicHttpBinding_IScanServer">
      <soap:address location="http://localhost:12120/ScanServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>