testClient/Connected Services/ServiceReference1/ScanServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal" />
  <xs:import schemaLocation="http://localhost:12120/ScanServer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal.K3Modal" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="stream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScanInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="stream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScanOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanInWCE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal" minOccurs="0" name="scanInHead" nillable="true" type="q3:ScanInHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanInWCEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScanInWCEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOutWCE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal" minOccurs="0" name="scanOutHead" nillable="true" type="q4:ScanOutHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOutWCEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScanOutWCEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleBillInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleBillInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Lonking.CN.JGYFScanWcfService.Modal.K3Modal" minOccurs="0" name="GetSaleBillInfoResult" nillable="true" type="q5:ArrayOfvwICBill_8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>